{
    "arrowParens": "always",
    "semi": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "endOfLine": "auto",
    "useTabs": false,
    "singleQuote": false,
    "printWidth": 120,
    "jsxSingleQuote": true,
    "importOrder": [
        "^(react/(.*)$)|^(react$)",
        "^(next/(.*)$)|^(next$)",
        "<THIRD_PARTY_MODULES>",
        "^@/(.*)$",
        "(.css|.scss)$",
        "^[./]",
        "^types$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
