:root {
    --button-font-weight: 600;
    --button-border-radius: 0.5rem;
    --button-height: 40px;

    --input-border-color: #e0e0e0;
    --input-border-active-color: #667085;
    --input-border-radius: 0.5rem;
    --input-font-size: 1rem;
    --input-height: 48px;
    --input-color: #667085;
}
