:root {
    --primary-color: #0074ff;
    --bg-container-disabled: rgba(0, 0, 0, 0.04);

    --button-font-weight: 600;
    --button-border-radius: 0.5rem;
    --button-height: 40px;

    --input-border-color: #d0d5dd;
    --input-border-active-color: #667085;
    --input-border-radius: 0.5rem;
    --input-font-size: 1rem;
    --input-height: 48px;
    --input-color: #667085;
    --input-padding: 12px 14px;

    --modal-z-index: 1300;
    --drawer-z-index: 1200;

    --dialog-box-shadow: 0px 8px 8px -4px #1018280a;
}
